<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
      <h3>
        <% if @user.image.nil? %>
          <%= image_tag "default-profile.jpg", alt: "User profile pic", size: 80 %>
        <% else %>
          <%= image_tag(@user.image, alt: "User profile pic", size: 80) %>
        <% end %>
        <%= @user.name %>
      </h3>
    </section>
      <% if current_user == @user %>
        <%= form_for(@post) do |f| %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Write a new post..." %>
          </div>
          <div class="field">
            <%= f.label :to_post %>
            <%= f.datetime_local_field :to_post %>
          </div>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div> 
    <div class="col-md-8">
      <% if @posts.any? %>
        <h3> Posts <%= @posts.count %></h3>
        <ol class="posts" id="user-posts">
          <%= render @posts, post_time: "posted_at", action: "Posted" %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>  
  </div>
</div>